@{
    ViewBag.Title = "Trang chủ";
}


<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p class="alert text-center">Chào mừng đến với trang quản trị của Watch Luxury Store</p>
       
    </div>
</div>