@{
    ViewBag.Title = "Không cho phép";
}


<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p class="card-text  alert alert-danger"> Người dùng không đủ quyền hạn truy cập chức năng này. Vui lòng liên hệ quản trị viên</p>
    </div>
</div>